# Terraform-specific files
*.tfstate
*.tfstate.backup
.terraform/
crash.log
# Secret variable files
*.auto.tfvars
secrets.auto.tfvars
# Local environment files
.terraform.lock.hcl
# Removing versions.tf as each project needs different hard coded values
/versions.tf