# This is an example file.
# 1. Copy this file to 'secrets.auto.tfvars'
# 2. Fill in your own secret values.
# 3. 'secrets.auto.tfvars' is in .gitignore and will NOT be committed.

admin_public_key = "ssh-rsa AAAA...[paste-your-public-key-here]...[user@host]"

# Your current public IP. This secures the SSH port.
# Find yours by googling "what is my ip"
my_public_ip = "x.x.x.x"

# GitHub Actions key
deploy_public_key = ssh-rsa AAAA...[paste-your-deploy-key-here]...[user@host]